Django==4.2.20  # https://www.djangoproject.com/
djangorestframework # https://github.com/encode/django-rest-framework
drf-spectacular==0.28.0 # https://drf-spectacular.readthedocs.io/en/latest/index.html